* {
	margin: 0;
	padding: 0;
}

@m_l: 30px;
@m_r: 30px;

body {
	background: linear-gradient(to top, #3e4750, #525b64);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:500');

a, p {
	text-decoration: none;
	font-family: 'Roboto', sans-serif
}

.container {
	width: 95%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 80px 500px 400px 400px 50px;
	grid-gap: 25px 25px;
	justify-content: center;

	@media (max-width: 479px) {
		width: 100%;
		margin: 0;
		grid-template-columns: 1fr;
		grid-template-rows: 300px 600px 400px 300px 385px 400px 50px;
		margin-bottom: 0%;
		grid-gap: 25px 0;
	}
	@media (min-width: 480px) and (max-width: 767px){
		grid-template-rows: 80px 400px 300px 250px 50px;
	}
	@media (min-width: 768px) and (max-width: 979px){
		grid-template-rows: 80px 400px 400px 400px 50px;
	}
}

header, .hero, .product, .salesGraph,
.shoppingBag, .map, footer {
	box-shadow: 0 10px 10px 10px #495159;
	background: linear-gradient(to top, #f3f3f3, #ffffff);
}

header, .hero, footer {
	grid-column-start: span 3;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	@media (max-width: 479px) {
		flex-direction: column;
	}

	.ecommElem {
		max-width: 20%;
		margin-left: @m_l;
		color: #333;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		position: relative;

		@media (max-width: 479px) {
			position: absolute;
			top: 20px;
			left: 0;
		}
		
		@media (min-width: 480px) and (max-width: 767px) {
			font-size: 12px;
			margin-left: 10px;
		}
		@media (min-width: 480px) and (max-width: 531px) {
			font-size: 11px;
		}
	}

	.separator {
		width: 2px;
		height: 30px;
		background: grey;
		
		@media (max-width: 479px) {
			display: none;
		}

		@media (min-width: 480px) and (max-width: 767px) {
			display: none;
		}

		@media (min-width: 768px) and (max-width: 979px){
			position: relative;
			right: 2%;
		}
	}

	.navbar {
		width: 70%;
		display: flex;
		justify-content: center;

		@media (max-width: 479px) {
			width: 100%;
		}

		ul {
			width: 100%;

			@media (max-width: 479px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				top: 10px;
				z-index: 10;
			}
			

			li {
				margin: 0 2%;
				justify-content: space-between;
				display: inline-block;

				@media (max-width: 479px) {
					margin-top: 25px;
				}
				
				@media (min-width: 480px) and (max-width: 767px) {
					margin: 0 1%;
				}

				a {
					color: #333;
					font-size: 12px;
					font-weight: 800;
					line-height: 21px;
					padding-bottom: 8px;
					
					@media (max-width: 479px) {
						font-size: 18px;
					}
					
					@media (min-width: 480px) and (max-width: 531px) {
						font-size: 11px;
					}

					&:hover {
						border-bottom: 3px #525b64 solid;

						@media (max-width: 479px) {
							border-bottom: 3px rgba(0,0,0,0) solid;
						}
					}
				}
			}
		}
	}

	form {
		min-width: 25%;
		margin-right: @m_r;
		
		@media (max-width: 479px) {
			position: absolute;
			top: 30px;
			right: 0;
			order: 2;
			min-width: 60%;
		}
		@media (min-width: 480px) and (max-width: 767px) {
			margin-right: 15px;
		}
		@media (min-width: 480px) and (max-width: 531px) {
			margin-right: 0px;
		}

		input {
			height: 20px;
			max-width: 80%;
			border: 1px rgba(51, 51, 51, 0) solid;
			border-radius: 5px;

			@media (max-width: 479px) {
				width: 100%;
			}

			&:focus {
				border: 1px rgba(51, 51, 51, 0.35) solid;
			}
		}
	}
}

.hero {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 25% 50% 25%;
	justify-items: start;

	@media (max-width: 479px) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	@media (min-width: 480px) and (max-width: 767px){
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 25% 50% 25%;
	}


	[src*="Fine_model"], [src*="Logo.png"],
	[src*="Logo2.png"], .description, 
	.inscription, a {
		z-index: 2;
	}
	
	[src*="Fine_model"] {
		width: 100%;
		height: 100%;
		grid-row-start: 1;
		grid-row-end: 4;
		grid-column-start: 2;
		grid-column-end: 3;
		z-index: 1;

		@media (max-width: 479px) {
			width: 100%;
			height: 100%;
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 2; 
		}
		@media (min-width: 480px) and (max-width: 767px){
			grid-column-start: 1;
			grid-column-end: 3;
		}
		@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
			@media (max-width: 479px) {
				height: 50%;
			}
		}
	}

	#Logo1 {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;
		align-self: end;
		margin-left: @m_l;

		@media (max-width: 479px) {
			display: none;
		}
		@media (min-width: 480px) and (max-width: 767px){
			display: none;
		}
 		@media (min-width: 768px) and (max-width: 979px){
			img {
				width: 80%;
				height: 80%;
			}
		} 
	}

	#Logo2 {
 		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 2;
		grid-column-end: 3;
		justify-self: end;
		align-self: center;
		margin-right: @m_r;

		@media (max-width: 479px) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 2; 
			justify-self: start;
			align-self: start;
			margin: @m_l;
		}
	}

	.description {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
		margin-left: @m_l;
		align-self: center;

		@media (max-width: 479px) {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 2; 
			margin: 0 10%;
			
		}
		@media (min-width: 480px) and (max-width: 767px){
			grid-row-start: 1;
			grid-row-end: 3;
			margin: 6% -9% 0 @m_l;
			align-self: start;
		}

		span, p {
			color: #444;
		}

		span {
			font-weight: 900;
		}

		p {
			font-size: 14px;
			line-height: 28px;

			@media (min-width: 480px) and (max-width: 767px){
				font-size: 12px;
			}

			@media (min-width: 768px) and (max-width: 979px){
				font-size: 12px;
				width: 160%
			}
		}
	}

	.inscription {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 2;
		grid-column-end: 3;
		justify-self: end;
		margin-right: @m_r;
		align-self: center;
		color: white;
		font-size: 64px;
		font-family: 'Oswald', sans-serif;
		font-weight: 100;
		line-height: 21px;

		@media (max-width: 479px) {
			display: none;
		}
		@media (min-width: 480px) and (max-width: 767px){
			font-size: 36px;
			
		}
	}

	#hero_button {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 2;
		margin-left: @m_l;
		align-self: center;

		@media (max-width: 479px) {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 2;
			justify-self: stretch;
			align-self: end;
			margin-bottom: 20px;
			width: 90%;
		}

		button {
			color: white;
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			width: 152px;
			height: 43px;
			background-color: #5f4f4c;
			background-image: linear-gradient(to top, #4ca15b 0%, #6ab177 100%);
			border: 1px solid #4ca15b;
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25); 

			@media (max-width: 479px) {
				width: 95%;
			}


			&:active {
				background-color: #5f4f4c;
				background-image: linear-gradient(to top, #4ca15b 0%, #5ab187 100%);
			}

			&:hover {
				cursor: pointer;
			}

		}
	}
}

.product {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 6fr 1fr 2fr repeat(2, 1fr);

	#Foto_product, #VANS, #price, p, .imfo {
		z-index: 2;
	}

	.imfo, #price {
		margin-left: @m_l;
	}

	#Foto_product {
		z-index: 1;
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 3;
		
		img {
			width: 100%;
			height: 100%;
		}
	}

	#VANS {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;
		justify-self: end;
		margin-right: @m_r - 19px;
	}

	#price {
		font-size: 22px;
		grid-row-start: 5;
		grid-row-end: 6;
		grid-column-start: 1;
		grid-column-end: 2;
		color: #444444;
		font-size: 22px;
		margin-bottom: 40%;
		font-weight: 700;
		align-self: center;
		
		@media (min-width: 480px) and (max-width: 767px){
			grid-row-start: 4;
			grid-row-end: 5;
			grid-column-start: 1;
			grid-column-end: 3;
			text-align: center;
			margin-left: 0;
			margin-bottom: 20%;
			color: grey;
		}
		@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
			margin-bottom: 11%;
			@media (min-width: 480px) and (max-width: 767px){
				margin-bottom: 9%;
			}
		}
	}

	#ADD_TO {
		grid-row-start: 5;
		grid-row-end: 6;
		grid-column-start: 2;
		grid-column-end: 3;
		justify-self: end;
		align-self: center;
		margin-bottom: 40%;
		padding-right: @m_r;
		
		@media (min-width: 480px) and (max-width: 767px){
			grid-row-start: 5;
			grid-row-end: 6;
			grid-column-start: 1;
			grid-column-end: 3;
			justify-self: stretch;

		}
		@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
			margin-bottom: 15%;
		}
		@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm){
			@media (min-width: 480px) and (max-width: 767px){
				margin-bottom: 9%;
			}
		}

		button {
			font-size: 10px;
			font-weight: 400;
			line-height: 21px;
			color: white;
			background-color: #5f4f4c;
			background-image: linear-gradient(to top, #65a0b8 0%, #80bcd4 100%);
			border: 1px solid #65a0b8;
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);

			@media (max-width: 479px) {
				width: 250%;
				height: 40px;
				margin-left: -145%;
			}

			@media (min-width: 480px) and (max-width: 767px){
				width: 100%;
				margin-left: 15px;
			}


			&:active {
				background-color: #5f4f4c;
				background-image: linear-gradient(to top, #45a0b8 0%, #60bcd4 100%);
			}

			&:hover {
				cursor: pointer;
			}
		}
	}
	
	p {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 3;
		font-size: 21px;
		font-weight: 700;
		line-height: 21px;
		color: #444;
		margin-left: @m_l;
		align-self: center;
		
		@media (min-width: 480px) and (max-width: 767px){
			text-align: center;
			margin-left: 0;
		}
		@media (min-width: 768px) and (max-width: 979px){
			margin-right: @m_r;
		}
		@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
			@media (min-width: 480px) and (max-width: 767px){
				// margin: 10px 0;
			}
		}

	}

	.imfo {
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 2;

		@media (min-width: 480px) and (max-width: 767px){
			display: none;
		}

		p {
			font-size: 12px;
			font-weight: 400;
			line-height: 21px;
			margin-left: 0;

			@media (min-width: 768px) and (max-width: 979px){
				white-space: nowrap;
			}
		}

		span {
			font-size: 12px;
			font-weight: 900;
			line-height: 24px;
			letter-spacing: 0.6px;

			a {
				color: #65a0b8;
				font-size: 10px;
				font-weight: 500;
			}
		}
	}
}

.salesGraph {
	display: grid;
	grid-column-start: span 2;	
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 4fr 1fr;

	@media (max-width: 479px) {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 4;
		grid-row-end: 5;
	}

	img {
		width: 100%;
		height: 100%;
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 4;
		z-index: 0;

		@media (max-width: 479px){
			max-height: 100%;
		}
		// For Opera and Chrome
		@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
			height: 79%;

		}
	}

	p {
		font-family: HelveticaNeue;
		font-size: 21px;
		font-weight: 700;
		line-height: 21px;
		z-index: 10;
		margin-top: 10%;
		margin-left: @m_l;

		@media (min-width: 480px) and (max-width: 767px){
			font-size: 16px;
			margin-left: 10%;
		}
		@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
			margin-top: 0%;
			&:first-child{
				margin-top: 15%;
			}
		}


		&:first-child {
			color: white;
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 2;
		}
	}

	.data {
		justify-self: center;
		align-self: center;
		text-align: center;

		@media (min-width: 480px) and (max-width: 767px){
			position: relative;
			top: -4px;	
			@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
				top: -1px;
			}
		}


		span {
			color: #505050;
			font-size: 12px;
			font-weight: 400;
			line-height: 21px;

			@media (max-width: 479px) {
				font-size: 10px;
			}
			@media (min-width: 480px) and (max-width: 767px){
				font-size: 10px;
			}
		}
	}
	
	#separ2 {
		border-left: 1px grey solid;
		border-right: 1px grey solid;
		justify-self: stretch;

		@media (max-width: 479px) {
			justify-self: center;
			padding: 0 20%;
		}
		
		@media (min-width: 480px) and (max-width: 767px){
			padding: 0 10%;
		}
	}	
}

.shoppingBag {
	display: flex;
	grid-column-start: span 2;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 0;

	@media (max-width: 479px) {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 5;
		grid-row-end: 6;
		height: 340px;
	}

	.shop_head, .shop_content, span {
		margin: 0 30px;

		@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
			@media (min-width: 480px) and (max-width: 767px){
				margin: 0 20px;
			}
		}

		@media (max-width: 479px) {
			margin-left: 5%;
		}
	}

	.shop_head, span {
		font-weight: 600;
		color: #444444;
		font-size: 20px;
	}

	.shop_content {
		margin-bottom: 10%;
		display: flex;
		flex-direction: column;
		
		.shop_product {
			display: grid;
			grid-template-columns: 100px 1fr 34px 10%;
			grid-template-rows: 1fr;
			align-items: center;
			
			@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
				@media (min-width: 480px) and (max-width: 767px){
					margin: 10px 0;
				}
				margin: 10px 0;
			}

			@media (max-width: 479px){
				padding-top: 14px;
				align-items: center;
			}

			@media (min-width: 480px) and (max-width: 767px){
				&:last-child {
					display: none;
				}
			}

			p {
				margin-left: 11px;
				
				@media (max-width: 479px) {
					font-size: 12px;
					margin-left: 6px;
				}
				
				@media (min-width: 480px) and (max-width: 523px){
					font-size: 12px;
				}

				@media (min-width: 524px) and (max-width: 767px){
					font-size: 14px;
				}

			}

			table {
				border: 1px #d7d7d7 solid;

				@media (min-width: 480px) and (max-width: 767px){
					margin-left: 2px;
				}
				@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
					@media (min-width: 480px) and (max-width: 767px){
						display: none;
					}
				}

				tr {
					width: 30px;
					height: 30px;
					background-color: #fff;

					p {
						margin-left: 8px;
						@media (max-width: 479px) {
							margin-left: 10px;
						}
						@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
							padding: 0 10px;
							text-align: center;
							margin-left: 0;
						}
					}
				}
			}

			&:nth-child(2) {
				margin: 10% 0;

				@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
					margin: 4% 0;
				}
				@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
					@media (min-width: 480px) and (max-width: 767px) {
						margin: 0;
					}
				}
				@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
					@media (max-width: 479px){
						margin: -4% 0;
					}
				}
			}

			.shop_price {
				margin-left: 33px;

				@media (max-width: 479px) {
					margin-left: 10px;
				}

				@media (min-width: 480px) and (max-width: 979px){
					margin-left: 9px;
				}
			}
		}
	}

	span {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		& > p {
			display: block;
			margin: auto 0;
		}

		#shop_button {

			button {
				color: white;
				width: 112px;
				height: 32px;
				background-color: #5f4f4c;
				background-image: linear-gradient(to top, #e88e13 0%, #f7a412 100%);
				border: 1px solid #ef8a00;
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);

				&:active {
					background-color: #5f4f4c;
					background-image: linear-gradient(to top, #c88e13 0%, #d7a412 100%);
				}

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

.map {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4fr 1fr;
	background-color: #fafafa;

	@media (max-width: 479px){
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 6;
		grid-row-end: 7;
	}

	img {
		width: 100%;
		height: 100%;
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;

		@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
			height: 79%;
		}
	}

	p {
		align-self: center;
		font-family: HelveticaNeue;
		font-size: 21px;
		font-weight: 700;
		line-height: 21px;
		margin-top: 10%;
		margin-left: @m_l;
		color: #737373;

		@media (max-width: 479px){
			font-size: 28px;
			justify-self: center;
			text-align: center;
		}

		@media (min-width: 480px) and (max-width: 767px){
			font-size: 17px;
			margin-left: 0;
			justify-self: center;
			text-align: center;
		}
		@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
			margin-top: 0%;
		}

		span {
			font-size: 10px;
			font-weight: 500;

			@media (max-width: 479px){
				font-size: 15px;
			}
		}
	}
}

footer {
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 479px){
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 7;
		grid-row-end: 8;
	}

	#footer_ecom_el {
		color: #333;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
	}

	a {
		&:first-child {
			margin-left: @m_l;
		}

		&:last-child {
			margin-right: @m_r;
		}
		
		&:nth-child(2) {
			margin-left: 65%;
			
			@media (max-width: 479px) {
				margin-left: 15%;
			}

			@media (min-width: 480px) and (max-width: 767px){
				margin-left: 35%;
			}
			@media (min-width: 768px) and (max-width: 979px){
				margin-left: 60%;
			}
		}
	}
}